USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTotalMonthExpenses]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_GetTotalMonthExpenses]
    @UserId INT,
    @Start DATE,
    @End DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ISNULL(SUM(Amount), 0) AS Total
    FROM Expenses
    WHERE UserId = @UserId AND ExpenseDate BETWEEN @Start AND @End AND IsActive = 1;
END
GO
