USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCategoryById]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_GetCategoryById]
    @CategoryId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get category by ID for specific user through UserCategories mapping
    SELECT 
        c.CategoryId, 
        c.Name, 
        c.CreatedDate, 
        uc.IsActive -- Use IsActive from UserCategories mapping
    FROM Categories c
    INNER JOIN UserCategories uc ON c.CategoryId = uc.CategoryId
    WHERE c.CategoryId = @CategoryId 
      AND uc.UserId = @UserId;
END
GO
