USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_TotalExpensesByCategory]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_TotalExpensesByCategory]
    @UserId INT,
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.Name AS CategoryName, SUM(e.Amount) AS Total
    FROM Expenses e
        JOIN Categories c ON c.CategoryId = e.CategoryId
    WHERE e.UserId = @UserId AND e.ExpenseDate BETWEEN @FromDate AND @ToDate AND e.IsActive = 1
    GROUP BY c.Name
    ORDER BY c.Name;
END
GO
