USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteCategory]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_DeleteCategory]
    @CategoryId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Deactivate the category for this specific user only
    UPDATE UserCategories
    SET IsActive = 0
    WHERE CategoryId = @CategoryId AND UserId = @UserId;
    
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
