USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateUser]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_CreateUser]
    @Username NVARCHAR(100),
    @PasswordHash NVARCHAR(255),
    @CreatedDate DATETIME2
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Users
        (Username, PasswordHash, CreatedDate)
    VALUES
        (@Username, @PasswordHash, @CreatedDate);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS UserId;
END
GO
