USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDailyTotalExpenses]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_GetDailyTotalExpenses]
    @UserId INT,
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CAST(e.ExpenseDate AS date) AS [Date], SUM(e.Amount) AS Total
    FROM Expenses e
    WHERE e.UserId = @UserId AND e.ExpenseDate BETWEEN @FromDate AND @ToDate AND e.IsActive = 1
    GROUP BY CAST(e.ExpenseDate AS date)
    ORDER BY CAST(e.ExpenseDate AS date);
END
GO
