SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_GetExpenseById]
    @ExpenseId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ExpenseId, UserId, CategoryId, Amount, Description, ExpenseDate, CreatedDate, IsActive
    FROM Expenses
    WHERE ExpenseId = @ExpenseId AND UserId = @UserId AND IsActive = 1;
END
GO
