SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ExpenseId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ExpenseDate] [date] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCategories]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCategories](
	[UserCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [CreatedDate], [IsActive]) VALUES (1, N'Food', CAST(N'2025-08-28T16:23:29.7888075' AS DateTime2), 1)
INSERT [dbo].[Categories] ([CategoryId], [Name], [CreatedDate], [IsActive]) VALUES (2, N'Transport', CAST(N'2025-08-28T16:23:29.7888075' AS DateTime2), 1)
INSERT [dbo].[Categories] ([CategoryId], [Name], [CreatedDate], [IsActive]) VALUES (3, N'Utilities', CAST(N'2025-08-28T16:23:29.7888075' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Expenses] ON 

INSERT [dbo].[Expenses] ([ExpenseId], [UserId], [CategoryId], [Amount], [Description], [ExpenseDate], [CreatedDate], [IsActive]) VALUES (1, 1, 1, CAST(187.00 AS Decimal(18, 2)), N'Sample expense 1', CAST(N'2025-08-25' AS Date), CAST(N'2025-08-28T16:23:29.8044282' AS DateTime2), 1)
INSERT [dbo].[Expenses] ([ExpenseId], [UserId], [CategoryId], [Amount], [Description], [ExpenseDate], [CreatedDate], [IsActive]) VALUES (2, 1, 2, CAST(187.00 AS Decimal(18, 2)), N'Sample expense 2', CAST(N'2025-08-10' AS Date), CAST(N'2025-08-28T16:23:29.8044282' AS DateTime2), 1)
INSERT [dbo].[Expenses] ([ExpenseId], [UserId], [CategoryId], [Amount], [Description], [ExpenseDate], [CreatedDate], [IsActive]) VALUES (3, 1, 3, CAST(91.00 AS Decimal(18, 2)), N'Sample expense 3', CAST(N'2025-08-14' AS Date), CAST(N'2025-08-28T16:23:29.8044282' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Expenses] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCategories] ON 

INSERT [dbo].[UserCategories] ([UserCategoryId], [UserId], [CategoryId], [IsActive], [CreatedDate], [CreatedBy]) VALUES (1, 1, 1, 1, CAST(N'2025-08-28T16:23:29.8044282' AS DateTime2), 1)
INSERT [dbo].[UserCategories] ([UserCategoryId], [UserId], [CategoryId], [IsActive], [CreatedDate], [CreatedBy]) VALUES (2, 1, 2, 1, CAST(N'2025-08-28T16:23:29.8044282' AS DateTime2), 1)
INSERT [dbo].[UserCategories] ([UserCategoryId], [UserId], [CategoryId], [IsActive], [CreatedDate], [CreatedBy]) VALUES (3, 1, 3, 1, CAST(N'2025-08-28T16:23:29.8044282' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[UserCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [CreatedDate]) VALUES (1, N'demo', N'$2a$11$hxn8UVrquy6b4knXrkavXOGhtakG1GdTx//0Kjq75E5oAkA54yvVC', CAST(N'2025-08-28T16:23:29.7888075' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [CreatedDate]) VALUES (2, N'admin', N'$2a$11$hxn8UVrquy6b4knXrkavXOGhtakG1GdTx//0Kjq75E5oAkA54yvVC', CAST(N'2025-08-28T16:43:40.7066667' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [CreatedDate]) VALUES (3, N'Suraj', N'$2a$11$Q2.TwNEiEFaO7HCWB8BA0OeDTpXorrA.p14GGMouIJ/HqCRiTJYZy', CAST(N'2025-09-07T12:10:08.8466667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Expenses_User_Category]    Script Date: 07-09-2025 09:01:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Expenses_User_Category] ON [dbo].[Expenses]
(
	[UserId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expenses_User_Date]    Script Date: 07-09-2025 09:01:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Expenses_User_Date] ON [dbo].[Expenses]
(
	[UserId] ASC,
	[ExpenseDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserCate__B6185FED2857B27D]    Script Date: 07-09-2025 09:01:04 PM ******/
ALTER TABLE [dbo].[UserCategories] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserCategories_UserId_IsActive]    Script Date: 07-09-2025 09:01:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserCategories_UserId_IsActive] ON [dbo].[UserCategories]
(
	[UserId] ASC,
	[IsActive] ASC
)
INCLUDE([CategoryId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E453239624]    Script Date: 07-09-2025 09:01:04 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Expenses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserCategories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_Categories]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_Users]
GO
ALTER TABLE [dbo].[UserCategories]  WITH CHECK ADD  CONSTRAINT [FK_UserCategories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[UserCategories] CHECK CONSTRAINT [FK_UserCategories_Categories]
GO
ALTER TABLE [dbo].[UserCategories]  WITH CHECK ADD  CONSTRAINT [FK_UserCategories_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserCategories] CHECK CONSTRAINT [FK_UserCategories_CreatedBy]
GO
ALTER TABLE [dbo].[UserCategories]  WITH CHECK ADD  CONSTRAINT [FK_UserCategories_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserCategories] CHECK CONSTRAINT [FK_UserCategories_Users]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateCategory]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CreateCategory]
    @Name NVARCHAR(100),
    @CreatedDate DATETIME2,
    @UserId INT,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CategoryId INT;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Check if category with this name already exists globally
        SELECT @CategoryId = CategoryId 
        FROM Categories 
        WHERE Name = @Name;
        
        -- If category doesn't exist globally, create it
        IF @CategoryId IS NULL
        BEGIN
            INSERT INTO Categories (Name, CreatedDate, IsActive)
            VALUES (@Name, @CreatedDate, @IsActive);
            
            SET @CategoryId = CAST(SCOPE_IDENTITY() AS INT);
        END
        
        -- Create mapping (prevent duplicates with unique constraint)
        IF NOT EXISTS (SELECT 1 FROM UserCategories WHERE UserId = @UserId AND CategoryId = @CategoryId)
        BEGIN
            INSERT INTO UserCategories (UserId, CategoryId, IsActive, CreatedDate, CreatedBy)
            VALUES (@UserId, @CategoryId, @IsActive, @CreatedDate, @UserId);
        END
        ELSE
        BEGIN
            -- If mapping exists but is inactive, reactivate it
            UPDATE UserCategories 
            SET IsActive = @IsActive, CreatedDate = @CreatedDate
            WHERE UserId = @UserId AND CategoryId = @CategoryId;
        END
        
        COMMIT TRANSACTION;
        
        -- Return the CategoryId
        SELECT @CategoryId AS CategoryId;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateExpenses]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CreateExpenses]
    @UserId INT,
    @CategoryId INT,
    @Amount DECIMAL(18,2),
    @Description NVARCHAR(500) = NULL,
    @ExpenseDate DATE,
    @CreatedDate DATETIME2,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Expenses
        (UserId, CategoryId, Amount, Description, ExpenseDate, CreatedDate, IsActive)
    VALUES
        (@UserId, @CategoryId, @Amount, @Description, @ExpenseDate, @CreatedDate, @IsActive);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS ExpenseId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateUser]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_CreateUser]
    @Username NVARCHAR(100),
    @PasswordHash NVARCHAR(255),
    @CreatedDate DATETIME2
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Users
        (Username, PasswordHash, CreatedDate)
    VALUES
        (@Username, @PasswordHash, @CreatedDate);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteCategory]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteCategory]
    @CategoryId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Deactivate the category for this specific user only
    UPDATE UserCategories
    SET IsActive = 0
    WHERE CategoryId = @CategoryId AND UserId = @UserId;
    
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteExpenses]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_DeleteExpenses]
    @ExpenseId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Expenses
    SET IsActive = 0
    WHERE ExpenseId = @ExpenseId AND UserId = @UserId;
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCategories]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCategories]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get categories mapped to the specific user through UserCategories table
    SELECT 
        c.CategoryId, 
        c.Name, 
        c.CreatedDate, 
        uc.IsActive -- Use IsActive from UserCategories mapping, not global Categories
    FROM Categories c
    INNER JOIN UserCategories uc ON c.CategoryId = uc.CategoryId
    WHERE uc.UserId = @UserId
    ORDER BY c.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCategoryById]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCategoryById]
    @CategoryId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get category by ID for specific user through UserCategories mapping
    SELECT 
        c.CategoryId, 
        c.Name, 
        c.CreatedDate, 
        uc.IsActive -- Use IsActive from UserCategories mapping
    FROM Categories c
    INNER JOIN UserCategories uc ON c.CategoryId = uc.CategoryId
    WHERE c.CategoryId = @CategoryId 
      AND uc.UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDailyTotalExpenses]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetDailyTotalExpenses]
    @UserId INT,
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CAST(e.ExpenseDate AS date) AS [Date], SUM(e.Amount) AS Total
    FROM Expenses e
    WHERE e.UserId = @UserId AND e.ExpenseDate BETWEEN @FromDate AND @ToDate AND e.IsActive = 1
    GROUP BY CAST(e.ExpenseDate AS date)
    ORDER BY CAST(e.ExpenseDate AS date);
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetExpenseById]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetExpenseById]
    @ExpenseId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ExpenseId, UserId, CategoryId, Amount, Description, ExpenseDate, CreatedDate, IsActive
    FROM Expenses
    WHERE ExpenseId = @ExpenseId AND UserId = @UserId AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTotalMonthExpenses]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetTotalMonthExpenses]
    @UserId INT,
    @Start DATE,
    @End DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ISNULL(SUM(Amount), 0) AS Total
    FROM Expenses
    WHERE UserId = @UserId AND ExpenseDate BETWEEN @Start AND @End AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUser]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetUser]
    @Username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1
        UserId, Username, PasswordHash, CreatedDate
    FROM Users
    WHERE Username = @Username;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchExpense]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_SearchExpense]
    @UserId INT,
    @Search NVARCHAR(500) = NULL,
    @CategoryId INT = NULL,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,
    @MinAmount DECIMAL(18,2) = NULL,
    @MaxAmount DECIMAL(18,2) = NULL,
    @SortBy NVARCHAR(50) = 'ExpenseDate',
    @SortOrder NVARCHAR(4) = 'desc',
    @Offset INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;


    SELECT e.ExpenseId, e.UserId, e.CategoryId, c.Name category, e.Amount, e.Description, e.ExpenseDate, e.CreatedDate, e.IsActive
    INTO #FilteredData
    FROM Expenses e
        join Categories c on e.CategoryId = c.CategoryId
    WHERE e.UserId = @UserId
        AND (@Search IS NULL OR e.Description LIKE @Search)
        AND (@CategoryId IS NULL OR e.CategoryId = @CategoryId)
        AND (@FromDate IS NULL OR e.ExpenseDate >= @FromDate)
        AND (@ToDate IS NULL OR e.ExpenseDate <= @ToDate)
        AND (@MinAmount IS NULL OR e.Amount >= @MinAmount)
        AND (@MaxAmount IS NULL OR e.Amount <= @MaxAmount)
        AND e.IsActive = 1

    SELECT COUNT(1) AS TotalCount
    FROM #FilteredData;

    SELECT ExpenseId, UserId, CategoryId, category, Amount, Description, ExpenseDate, CreatedDate, IsActive
    FROM #FilteredData
    ORDER BY 
        CASE WHEN @SortBy = 'ExpenseDate' AND @SortOrder = 'asc' THEN ExpenseDate END ASC,
        CASE WHEN @SortBy = 'ExpenseDate' AND @SortOrder = 'desc' THEN ExpenseDate END DESC,
        CASE WHEN @SortBy = 'Amount' AND @SortOrder = 'asc' THEN Amount END ASC,
        CASE WHEN @SortBy = 'Amount' AND @SortOrder = 'desc' THEN Amount END DESC,
        CASE WHEN @SortBy = 'Description' AND @SortOrder = 'asc' THEN Description END ASC,
        CASE WHEN @SortBy = 'Description' AND @SortOrder = 'desc' THEN Description END DESC,
        ExpenseId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    drop table #FilteredData;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ToggleCategoryStatus]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ToggleCategoryStatus]
    @CategoryId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Toggle the IsActive status in UserCategories mapping (not global Categories)
    UPDATE UserCategories
    SET IsActive = CASE WHEN IsActive = 1 THEN 0 ELSE 1 END
    WHERE CategoryId = @CategoryId AND UserId = @UserId;

    -- Return the updated category with user-specific IsActive status
    SELECT 
        c.CategoryId, 
        c.Name, 
        c.CreatedDate, 
        uc.IsActive
    FROM Categories c
    INNER JOIN UserCategories uc ON c.CategoryId = uc.CategoryId
    WHERE c.CategoryId = @CategoryId AND uc.UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_TotalExpensesByCategory]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_TotalExpensesByCategory]
    @UserId INT,
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.Name AS CategoryName, SUM(e.Amount) AS Total
    FROM Expenses e
        JOIN Categories c ON c.CategoryId = e.CategoryId
    WHERE e.UserId = @UserId AND e.ExpenseDate BETWEEN @FromDate AND @ToDate AND e.IsActive = 1
    GROUP BY c.Name
    ORDER BY c.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateCategory]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateCategory]
    @CategoryId INT,
    @Name NVARCHAR(100),
    @UserId INT,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RowsAffected INT = 0;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Check if user has access to this category
        IF EXISTS (SELECT 1 FROM UserCategories WHERE UserId = @UserId AND CategoryId = @CategoryId)
        BEGIN
            -- Check if another category with the same name exists for this user
            IF NOT EXISTS (
                SELECT 1 FROM Categories c
                INNER JOIN UserCategories uc ON c.CategoryId = uc.CategoryId
                WHERE uc.UserId = @UserId 
                  AND c.Name = @Name 
                  AND c.CategoryId != @CategoryId
            )
            BEGIN
                -- Update the global category name
                UPDATE Categories
                SET Name = @Name
                WHERE CategoryId = @CategoryId;
                
                -- Update the user-category mapping active status
                UPDATE UserCategories
                SET IsActive = @IsActive
                WHERE UserId = @UserId AND CategoryId = @CategoryId;
                
                SET @RowsAffected = @@ROWCOUNT;
            END
            ELSE
            BEGIN
                -- Category name already exists for this user
                RAISERROR('A category with this name already exists for the user.', 16, 1);
            END
        END
        
        COMMIT TRANSACTION;
        
        SELECT @RowsAffected AS RowsAffected;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateExpenses]    Script Date: 07-09-2025 09:01:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateExpenses]
    @ExpenseId INT,
    @UserId INT,
    @CategoryId INT,
    @Amount DECIMAL(18,2),
    @Description NVARCHAR(500) = NULL,
    @ExpenseDate DATE,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Expenses
    SET CategoryId = @CategoryId,
        Amount = @Amount,
        Description = @Description,
        ExpenseDate = @ExpenseDate,
        IsActive = @IsActive
    WHERE ExpenseId = @ExpenseId AND UserId = @UserId;
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
