USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCategoryById]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_GetCategoryById]
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CategoryId, Name, CreatedDate, IsActive
    FROM Categories
    WHERE CategoryId = @CategoryId;
END
GO
