USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateCategory]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_CreateCategory]
    @Name NVARCHAR(100),
    @CreatedDate DATETIME2,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Categories
        (Name, CreatedDate, IsActive)
    VALUES
        (@Name, @CreatedDate, @IsActive);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS CategoryId;
END
GO
