USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateCategory]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_UpdateCategory]
    @CategoryId INT,
    @Name NVARCHAR(100),
    @UserId INT,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RowsAffected INT = 0;
    
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Check if user has access to this category
        IF EXISTS (SELECT 1 FROM UserCategories WHERE UserId = @UserId AND CategoryId = @CategoryId)
        BEGIN
            -- Check if another category with the same name exists for this user
            IF NOT EXISTS (
                SELECT 1 FROM Categories c
                INNER JOIN UserCategories uc ON c.CategoryId = uc.CategoryId
                WHERE uc.UserId = @UserId 
                  AND c.Name = @Name 
                  AND c.CategoryId != @CategoryId
            )
            BEGIN
                -- Update the global category name
    UPDATE Categories
                SET Name = @Name
    WHERE CategoryId = @CategoryId;
                
                -- Update the user-category mapping active status
                UPDATE UserCategories
                SET IsActive = @IsActive
                WHERE UserId = @UserId AND CategoryId = @CategoryId;
                
                SET @RowsAffected = @@ROWCOUNT;
            END
            ELSE
            BEGIN
                -- Category name already exists for this user
                RAISERROR('A category with this name already exists for the user.', 16, 1);
            END
        END
        
        COMMIT TRANSACTION;
        
        SELECT @RowsAffected AS RowsAffected;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
