USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateExpenses]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_UpdateExpenses]
    @ExpenseId INT,
    @UserId INT,
    @CategoryId INT,
    @Amount DECIMAL(18,2),
    @Description NVARCHAR(500) = NULL,
    @ExpenseDate DATE,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Expenses
    SET CategoryId = @CategoryId,
        Amount = @Amount,
        Description = @Description,
        ExpenseDate = @ExpenseDate,
        IsActive = @IsActive
    WHERE ExpenseId = @ExpenseId AND UserId = @UserId;
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
