USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUser]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_GetUser]
    @Username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1
        UserId, Username, PasswordHash, CreatedDate
    FROM Users
    WHERE Username = @Username;
END
GO
