USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateExpenses]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_CreateExpenses]
    @UserId INT,
    @CategoryId INT,
    @Amount DECIMAL(18,2),
    @Description NVARCHAR(500) = NULL,
    @ExpenseDate DATE,
    @CreatedDate DATETIME2,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Expenses
        (UserId, CategoryId, Amount, Description, ExpenseDate, CreatedDate, IsActive)
    VALUES
        (@UserId, @CategoryId, @Amount, @Description, @ExpenseDate, @CreatedDate, @IsActive);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS ExpenseId;
END
GO
