SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_SearchExpense]
    @UserId INT,
    @Search NVARCHAR(500) = NULL,
    @CategoryId INT = NULL,
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,
    @MinAmount DECIMAL(18,2) = NULL,
    @MaxAmount DECIMAL(18,2) = NULL,
    @SortBy NVARCHAR(50) = 'ExpenseDate',
    @SortOrder NVARCHAR(4) = 'desc',
    @Offset INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;


    SELECT e.ExpenseId, e.UserId, e.CategoryId, c.Name category, e.Amount, e.Description, e.ExpenseDate, e.CreatedDate, e.IsActive
    INTO #FilteredData
    FROM Expenses e
        join Categories c on e.CategoryId = c.CategoryId
    WHERE e.UserId = @UserId
        AND (@Search IS NULL OR e.Description LIKE @Search)
        AND (@CategoryId IS NULL OR e.CategoryId = @CategoryId)
        AND (@FromDate IS NULL OR e.ExpenseDate >= @FromDate)
        AND (@ToDate IS NULL OR e.ExpenseDate <= @ToDate)
        AND (@MinAmount IS NULL OR e.Amount >= @MinAmount)
        AND (@MaxAmount IS NULL OR e.Amount <= @MaxAmount)
        AND e.IsActive = 1

    SELECT COUNT(1) AS TotalCount
    FROM #FilteredData;

    SELECT ExpenseId, UserId, CategoryId, category, Amount, Description, ExpenseDate, CreatedDate, IsActive
    FROM #FilteredData
    ORDER BY 
        CASE WHEN @SortBy = 'ExpenseDate' AND @SortOrder = 'asc' THEN ExpenseDate END ASC,
        CASE WHEN @SortBy = 'ExpenseDate' AND @SortOrder = 'desc' THEN ExpenseDate END DESC,
        CASE WHEN @SortBy = 'Amount' AND @SortOrder = 'asc' THEN Amount END ASC,
        CASE WHEN @SortBy = 'Amount' AND @SortOrder = 'desc' THEN Amount END DESC,
        CASE WHEN @SortBy = 'Description' AND @SortOrder = 'asc' THEN Description END ASC,
        CASE WHEN @SortBy = 'Description' AND @SortOrder = 'desc' THEN Description END DESC,
        ExpenseId DESC
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
    drop table #FilteredData;
END
GO
