USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteExpenses]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_DeleteExpenses]
    @ExpenseId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Expenses
    SET IsActive = 0
    WHERE ExpenseId = @ExpenseId AND UserId = @UserId;
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
