USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteCategory]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_DeleteCategory]
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Categories
    SET IsActive = 0
    WHERE CategoryId = @CategoryId
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
