USE [ExpenseTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetExpenseById]    Script Date: 07-09-2025 10:57:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_GetExpenseById]
    @ExpenseId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ExpenseId, UserId, CategoryId, Amount, Description, ExpenseDate, CreatedDate, IsActive
    FROM Expenses
    WHERE ExpenseId = @ExpenseId AND UserId = @UserId;
END
GO
